{# CF Commentaires de index.html.twig du dossier entreprise #}

{% extends 'base.html.twig' %}

{% block title %}Détail de l'entreprise{% endblock %}

{% block body %}

    <h1>Détail de l'entreprise</h1>

    {# Pour récupérer la raison sociale à l'affichage (CF __toString() dans le fichier Entreprise.php) #}
    <h2>{{ entreprise }}</h2>
    <p>
        Adresse : {{ entreprise.adresse }} {{ entreprise.cp }} {{ entreprise.ville }}
    </p>

{% endblock %}
