{# CF Commentaires de index.html.twig du dossier entreprise #}

{% extends 'base.html.twig' %}

{% block title %}Liste des employés{% endblock %}

<h1>Liste des Entreprises</h1>

    {% for employe in employes %}
        {{employe.prenom}}<br>
    {% endfor %}

{% block body %}

{% endblock %}
