{# CF Commentaires de index.html.twig du dossier entreprise #}

{% extends 'base.html.twig' %}

{% block title %}Détail de l'employé{% endblock %}

{% block body %}

    <h1>Détail de l'employé</h1>

    {# Pour récupérer la raison sociale à l'affichage (CF __toString() dans le fichier Entreprise.php) #}
    <h2>{{ employe }}</h2>
    <p>
        Commune de naissance : {{ employe.ville }}
    </p>

{% endblock %}
